<!DOCTYPE html>
<html>
  <head>
    <title>Your Results</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1> Your Car Information </h1>
    <p>@Model.ReturnCarInformation()</p>
    <button type="button" name="backHome">Bring me Back Home</button>
  </body>
</html>
